In [2]:
import pandas as pd

In [24]:
data = pd.read_csv('../data/preprocessed/SanDiego_from_1980_preprocessed.csv', parse_dates=['YEARMODA'])
data.head()

,STN,WBAN,YEARMODA,TEMP,TEMP_count,DEWP,DEWP_count,SLP,SLP_count,STP,...,FRSHTT,MAX_flag,MIN_flag,PRCP_A,PRCP_B,PRCP_C,PRCP_D,PRCP_G,PRCP_H,PRCP_I
0,722900,23188,1980-11-01,70.5,24,39.5,24,1018.9,24,1017.9,...,0,False,False,0,0,0,1,0,0,0
1,722900,23188,1980-11-02,68.0,23,40.7,23,1019.2,23,1018.1,...,0,False,False,0,0,0,1,0,0,0
2,722900,23188,1980-11-03,67.1,24,47.1,24,1019.3,24,1018.2,...,0,False,False,0,0,0,1,0,0,0
3,722900,23188,1980-11-04,64.2,24,56.0,24,1018.8,24,1017.8,...,100000,False,False,0,0,0,1,0,0,0
4,722900,23188,1980-11-05,64.4,24,58.9,24,1018.0,24,1016.6,...,100000,False,False,0,0,0,1,0,0,0

In [26]:
data.columns

Index(['STN', 'WBAN', 'YEARMODA', 'TEMP', 'TEMP_count', 'DEWP', 'DEWP_count',
       'SLP', 'SLP_count', 'STP', 'STP_count', 'VISIB', 'VISIB_count', 'WDSP',
       'WDSP_count', 'MXSPD', 'GUST', 'MAX', 'MIN', 'PRCP', 'SNDP', 'FRSHTT',
       'MAX_flag', 'MIN_flag', 'PRCP_A', 'PRCP_B', 'PRCP_C', 'PRCP_D',
       'PRCP_G', 'PRCP_H', 'PRCP_I'],
      dtype='object')

In [29]:
subset = data.set_index('YEARMODA')
subset = subset[['STN', 'TEMP', 'MAX', 'MIN']]
subset = subset.dropna()

In [43]:
sd_airport = subset[subset['STN'] == 722900] # SAN DIEGO INTERNATIONAL AIRPO
sd_airport.head()

               STN  TEMP   MAX   MIN
YEARMODA
1980-11-01  722900  70.5  88.0  57.9
1980-11-02  722900  68.0  84.9  55.9
1980-11-03  722900  67.1  79.9  55.9
1980-11-04  722900  64.2  77.0  54.9
1980-11-05  722900  64.4  72.0  59.9

In [40]:
from plotly import plotly as ply
from plotly import graph_objs as go

In [47]:
sd_airport_oneday = sd_airport[(sd_airport.index.month == 12) & (sd_airport.index.day == 2)]
sd_airport_2014 = sd_airport['2014']

In [51]:
trace = go.Scatter(
    x=sd_airport_2014.index,
    y=sd_airport_2014['TEMP'],
)
layout = go.Layout(
    title="San Diego Weather 2014"
)
figure = go.Figure(data=[trace], layout=layout)
ply.iplot(figure, filename='WeatherData/sandiego')

In [56]:
trace0 = go.Scatter(
    x=sd_airport_2014.index,
    y=sd_airport_2014['TEMP'],
    name='Mean'
)
trace1 = go.Scatter(
    x=sd_airport_2014.index,
    y=sd_airport_2014['MAX'],
    name='Max'
)
trace2 = go.Scatter(
    x=sd_airport_2014.index,
    y=sd_airport_2014['MIN'],
    name='Min'
)
layout = go.Layout(
    title="San Diego Weather 2014 Min & Max"
)
figure = go.Figure(data=[trace1, trace0, trace2], layout=layout)
ply.iplot(figure, filename='WeatherData/sandiego')

In [52]:
ply.image.save_as(figure, 'San Diego Weather 2014.png')